
// $blue: #0074d9;
// $blue-text: $white;
// // $green: #2ecc40;
// $red: #ff4136;
// $red-text: $white;
// $yellow: #ffdc00;

$dark: #1d3540;
// $dark: #1d2540;
$other-dark: #316f8c;
$accent: #509bb8;
$main-background: #f2f2f2;
// $secondary-background: #9bdaf2;
$secondary-background: #509bb8;
$third-background: lighten(#509bb8, 15%);

$font-body: SFmono, BlinkMacSystemFont, 'Merriweather', serif;
$font-header: 'Comfortaa', cursive;

$line-height: 1.4;
$font-size-body: 1rem;

$button-text-color: #f2f2f2;
$text-color: #000;
