
.container img {
    width: 100%;
}

.frontpage {
    margin-bottom: 5%;
}

.thirdmain {
    padding: 2rem 1.4rem;
}

.secondmain {
    padding: 1.4rem 0.6rem 4rem 0.6rem;
}

.fourthmain {
    padding-bottom: 2rem;
}
